:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  z-index: 1000;
}

nav::-webkit-scrollbar,
section::-webkit-scrollbar,
.searchOptions::-webkit-scrollbar {
  display: none;
}

.liked {
  color: #f18700;
}

a.active {
  background-color: #f18700;
  color: white;
  padding: 4px 12px;
  border-radius: 5px;
}

@media only screen and (max-width: 870px) {
  a.active {
    padding: 12px 10px;
    border-radius: 5px;
  }
}