:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  z-index: 1000;
}

.ul a:hover {
  background-color: #f18700;
  padding: 8px 15px;
  color: white;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.sect::-webkit-scrollbar {
  display: none;
}