:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background: linear-gradient(90deg, #fdf0df, #fdf0df, white, #fdf0df);
}

.hero-one {
  background: linear-gradient(80deg, #fdf0df, white, #fdf0df);

}